.venv/
generated_pdf/*
generated_csv/*
generated/*
.DS_Store
.DS_Store
__pycache__/
.vscode/
poetry.lock
poetry.lock
dp_cig_101.yaml
raw_exported/*
diff_exported/*
oxpos_export.yaml
dp_cig_101_diff.yaml
dp_cig_101_manual.yaml
dp_cig_101_manual_diff.yaml
